$color_1: #ffffff;
$color_2: #000000;
$color_3: #3f729b;
$color_4: rgba(222, 226, 230, 0.75);
$font-family_1: "Roboto", sans-serif;
$font-family_2: "arial", sans-serif;
$background-color_1: #000000;
$background-color_2: #ffffff;